body {
    margin: 0;
    overflow-x: hidden;
}

.price-tag {
    width: 155px;
    height: 19.46px;
    left: 25px;
    top: 102.53px;
    position: absolute;
    color: black;
    font-size: 35px;
    font-family: Karma;
    font-weight: 550;
    line-height: 20px;
    word-wrap: break-word;
}

.la-redoute-tag {
    width: 128px;
    height: 16.54px;
    left: 25px;
    top: 21.75px;
    position: absolute;
    color: black;
    font-size: 11px;
    font-family: Karma;
    font-weight: 600;
    text-decoration: underline;
    word-wrap: break-word;
}

.product-description {
    width: 383px;
    height: 38.93px;
    left: 25px;
    top: 45.11px;
    position: absolute;
    color: black;
    font-size: 18px;
    font-family: Karma;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.product-description-background {
    width: 425px;
    height: 132.35px;
    left: 7px;
    top: 7.16px;
    position: absolute;
    background: white;
    border-radius: 7px;
}

.description-box {
    width: 438px;
    height: 147px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 10px;
}

.description {
    width: 438px;
    height: 147px;
    left: 0px;
    top: 332.97px;
    position: absolute;
}

.product-image {
    width: 433px;
    height: 317px;
    left: 3px;
    top: 0px;
    position: absolute;
    border-radius: 8px;
}

.product-image-placeholder {
    width: 433px;
    height: 317.26px;
    left: 0px;
    top: 0.48px;
    position: absolute;
    background: white;
    border-radius: 12px;
}

#main-div {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: absolute;
    margin-left: 400px;
    margin-top: 400px;
    margin-right: 5%;
    height: 100%;
    width: 100%;
    min-height: min-content;
}

.product {
    position: relative;
    display: block;
    min-height: 433px;
    width: 420px;
    margin-bottom: 200px;
    grid-column: auto;
}

.page-title {
    left: 400px;
    top: 258px;
    position: absolute;
}

.page-categories {
    color: #B8B6B6;
    font-size: 35px;
    font-family: Karma;
    font-weight: 500;
    word-wrap: break-word;
}

.page-name {
    color: #696969;
    font-size: 35px;
    font-family: Karma;
    font-weight: 500;
    word-wrap: break-word;
}

.navbar-container {
    z-index: 2;
    width: 100%;
    height: 208px;
    position: fixed;
    background: #FFF2DD;
}

.searchbox {
    width: 50%;
    height: 50px;
    margin-left: 334px;
    margin-top: 74px;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.search-content {
    width: 88%;
    height: 18px;
    left: 31px;
    top: 16px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Karma;
    font-weight: 500;
    word-wrap: break-word;
    border: none !important;
    outline: none;
}

.search-icon-placeholder {
    width: 22px;
    height: 22px;
    right: 15px;
    top: 14px;
    position: absolute;
}

.user-icon-container {
    width: 42px;
    height: 42px;
    right: 160px;
    top: 82px;
    position: absolute;
    margin-right: 10px;
}

.icon {
    width: 42px;
    height: 42px;
}

.cart-icon-container {
    width: 42px;
    height: 42px;
    right: 40px;
    top: 87px;
    position: absolute;
}

.products-background {
    width: 100%;
    height: 100%;
    background: white;
}

a {
    text-decoration: none;
    color: black;
    top: 0px;
    left: 0px;
}

.sidebar-container {
    margin-top: 208px;
    width: 334px;
    height: 100%;
    min-height: fit-content;
    position: fixed;
    background: #EEEEEE;
    overflow: auto;
}

.sidebar-content {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 1fr;
    width: 293px;
    height: 70%;
    left: 21px;
    top: 94px;
    position: absolute;
}

.sidebar-button-background {
    width: 273.34px;
    height: 48.69px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 17px;
}

.sidebar-button-background-selected {
    width: 273.34px;
    height: 48.69px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #BFBFBF;
    border-radius: 17px;
}

.sidebar-button-text {
    width: 203.53px;
    height: 21.03px;
    left: 17.70px;
    top: 14.39px;
    position: absolute;
    color: black;
    font-size: 18px;
    font-family: Karma;
    font-weight: 400;
    word-wrap: break-word
}

.sidebar-button-icon {
    width: 12px;
    height: 12px;
    left: 237.94px;
    top: 14px;
    position: absolute;
}

.sidebar-button {
    margin-top: 50px;
    grid-row: auto;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.sidebar-button-opened {
    margin-bottom: 150px;
    grid-row: auto;
    position: relative;
    display: block;
}

.sidebar-submenu-background {
    width: 208px;
    height: 34px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #E3E3E3;
    border-radius: 17px;
}

.sidebar-submenu-button-text {
    width: 203.53px;
    height: 21.03px;
    left: 17.70px;
    top: 6px;
    position: absolute;
    color: black;
    font-size: 18px;
    font-family: Karma;
    font-weight: 400;
    word-wrap: break-word
}

.sidebar-button>a :hover {
    color: red;
    -webkit-transition: color 125ms linear;
    -ms-transition: color 125ms linear;
    transition: color 125ms linear;
}

.sidebar-button-opened>div>a :hover {
    color: red;
    -webkit-transition: color 125ms linear;
    -ms-transition: color 125ms linear;
    transition: color 125ms linear;
}

.sidebar-footer {
    margin-bottom: 400px;
}

.sidebar-title {
    width: 116px;
    height: 28.85px;
    left: 29px;
    top: 36px;
    position: absolute;
    opacity: 0.80;
    color: black;
    font-size: 24px;
    font-family: Karma;
    font-weight: 400;
    word-wrap: break-word;
}

@media only screen and (max-width: 1750px) {
    #main-div {
        grid-template-columns: repeat(2, auto);
        width: 80%;
    }
    .page-footer-container{
        margin-top: 1000px !important;
    }
}

@media only screen and (max-width: 1390px) {
    #main-div {
        grid-template-columns: auto;
        width: 80%;
        padding-left: 10%;
    }

    .user-icon-container {
        right: 10%;
    }

    .page-footer-container{
        margin-top: 1500px !important;
    }
}

@media only screen and (max-width: 1230px) {
    .cart-icon-container {
        right: 3%;
    }
}

@media only screen and (max-width: 1030px) {
    .searchbox {
        width: 40%;
    }
}

@media only screen and (max-width: 840px) {
    .searchbox {
        width: 30%;
    }

    .search-content {
        width: 30%;
    }

}

@media only screen and (max-width: 750px) {
    .searchbox {
        display: none;
    }

    .user-icon-container {
        right: 20%;
    }

    .cart-icon-container {
        right: 6%;
    }

}

@media only screen and (max-width: 2442px) {
    .product-purchase-details-container{
        margin-top: 100px;
        margin-left: 20% !important;
        margin-right: 20%;
        display: block;
    }

    .product-container{
        margin-left: 30% !important;
    }

}

@media only screen and (max-width: 2000px) {
    .product-purchase-details-container{
        width: 40% !important;
    }
    
    .product-container{
        margin-left: 23% !important;
    }

}

@media only screen and (max-width: 1560px) {
    .product-purchase-details-container{
        width: 50% !important;
    }
    .product-container{
        margin-left: 17% !important;
    }

}

@media only screen and (max-width: 1340px) {
    .product-purchase-details-container{
        width: 60% !important;
    }
    .product-container{
        margin-left: 10% !important;
    }

}

.page-footer-container {
    margin-top: 100px;
    width: 100%;
    bottom: 0px;
    position: static;
}

.footer-black-background {
    width: 100%;
    position: relative;
    background: #232323;
    height: fit-content;
    border-radius: 1px;
}

.footer-grey-background {
    margin-top: 203.67px;
    width: 100%;
    height: fit-content;
    position: relative;
    background: #8E8E8E
}

.footer-image-grey-background {
    width: 80%;
    margin: 10%;
    position: relative;
    overflow: hidden;
}

.footer-image-black-background {
    width: 80%;
    margin: 10%;
    position: relative;
    overflow: hidden;
}

.more-info {
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
    min-width: 420px;
    position: relative;
    background-color: #D9D9D9;
    border-radius: 1px;
    display: grid;
    row-gap: 6px;
}

.more-info-title {
    width: 100%;
    height: 56.83px;
    left: 47.56px;
    position: relative;
    color: black;
    font-size: 24px;
    font-family: Karma;
    font-weight: 600;
    word-wrap: break-word
}

.info-content {
    width: 100%;
    min-width: 420px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EEEEEE;
}

.more-info-text {
    width: 100%;
    left: 48px;
    margin-top: 66px;
    position: relative;
    color: black;
    font-size: 24px;
    font-family: Karma;
    font-weight: 400;
    word-wrap: break-word
}


.more-info-rate {
    width: 100%;
    margin-left: 40px;
}

.more-info-rate div {
    display: inline-block;
}

a.more-info-text:hover {
    text-decoration: underline;
}

.more-info-rating {
    position: relative;
    top: -4px;
    margin-left: 10px;
    margin-right: 5px;
}

.more-info-rating-text-bold {
    color: black;
    font-size: 16px;
    font-family: Karma;
    font-weight: 600;
    word-wrap: break-word;
}

.more-info-rating-text {
    color: black;
    font-size: 16px;
    font-family: Karma;
    font-weight: 300;
    word-wrap: break-word;
}

.star-icon {
    position: relative;
    color: #ffdd00;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 1,
        'opsz' 243
}

.num-aval {
    height: 29px;
    position: relative;
    opacity: 0.80;
    color: black;
    font-size: 11px;
    font-family: Karma;
    font-weight: 300;
    word-wrap: break-word;
    top: -4px;
}

.num-aval:hover {
    text-decoration: underline;
}

.product-details-container {
    width: 80%;
    margin-left: 10%;
    min-width: 1000px;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-areas:
        'description-container description-container'
        'size-container product-offer'
        'info-about-product product-main-details';
    row-gap: 10px;
    background: #EEEEEE;
    border-radius: 1px;
}
.product-details-container > div{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.description-container {
    width: 95%;
    position: relative;
    grid-area: description-container;
}

.description-title {
    height: 45.13px;
    left: 0px;
    top: 0px;
    position: relative;
    color: black;
    font-size: 24px;
    font-family: Karma;
    font-weight: 700;
    word-wrap: break-word;
}

.description-text {
    width: 100%;
    height: fit-content;
    left: 0.46px;
    top: 34.56px;
    position: relative;
    color: black;
    font-size: 24px;
    font-family: Karma;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 20px;

}

.product-offer{
    width: 267.56px; 
    height: 56.38px; 
    position: relative;
    grid-area: product-offer;
}

.info-about-product {
    height: 490px;
    position: relative;
    grid-area: info-about-product;
}

.product-details-container-item-title {
    color: black;
    font-size: 24px;
    font-family: Karma;
    font-weight: 700;
    word-wrap: break-word;
}

.size-container{
    width: 286px; 
    height: 210px; 
    position: relative;
    grid-row: auto;
    grid-column: auto;
    grid-area:size-container;
}

.product-details-container-item-text{
    color: black; 
    font-size: 24px; 
    font-family: Karma; 
    font-weight: 400; 
    word-wrap: break-word;
}

.product-main-details{ 
    height: 245px; 
    position: relative;
    grid-area: product-main-details;
}

.interface3d-container{
    width: fit-content;
    position: relative; 
    display: inline-block;
    background: #EEEEEE; 
    border-radius: 1px;
}

.product-container{
    padding-top: 300px;
    margin-bottom: 300px;
    margin-left: 25%;
    margin-right: 10%;
}

.product-layout-placeholder{
    width: 800px;
    margin-right: 100px;
    margin-left: 100px; 
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 600px;
    background-color: #cbcbcb;
    display: block;
}

.product-purchase-details-container{
    width: 30%; 
    position: relative; 
    display: inline-block;
    background: #EEEEEE; 
    border-radius: 1px;
    max-width: 490px;
    vertical-align: top;
    margin-left: 5%;
}

.purchase-product-name{
    margin-left: 40px; 
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 10px;   
    position: relative;  
    color: black; 
    font-size: 24px; 
    font-family: Karma; 
    font-weight: 700; 
    word-wrap: break-word
}

.customization-box{
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;  
    position: relative;
    background-color: #D9D9D9; 
    border-radius: 25px;
    height: fit-content;
    overflow: hidden;
    min-width: 280px;
}

.customization-box-title{
    position: relative; 
    color: black; 
    font-size: 20px; 
    font-family: Karma; 
    font-weight: 400; 
    word-wrap: break-word;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    
}

.custom-color-container{
    position: relative; 
    background-color: white; /*Mudar cor*/
    border: 1px black solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
}

.custom-material-container{
    position: relative; 
    border: 1px black solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
}

.custom-setting-title{
    position: relative; 
    color: black; 
    font-size: 18px; 
    font-family: Karma; 
    font-weight: 400; 
    word-wrap: break-word;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}

.custom-setting-text{
    position: relative;
    color: black;
    font-size: 14px; 
    font-family: Karma; 
    font-weight: 300; 
    word-wrap: break-word; 
    display: inline-block;
    float: right;
}

.customize-box{
    margin-top: 10px;
    margin-bottom: 20px;
    height: fit-content;
    margin-right: 20px;
}

.product-price-tag{
    position: relative; 
    color: black; 
    font-size: 40px; 
    font-family: Karma; 
    font-weight: 500; 
    word-wrap: break-word; 
    display: inline-block;
}

.purchase-icons{
    width: 23px; 
    height: 23px; 
    position: relative; 
    display: inline-block;
    margin-left: 10px;
}

.purchase-box-margin{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
}

.product-counter-container{
    position: relative;
    background: #D9D9D9;
    border-radius: 25px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
}

.counter-text{
    position: relative; 
    color: black; 
    font-size: 32px; 
    font-family: Karma; 
    font-weight: 400; 
    word-wrap: break-word;
    display: inline-block;
}

.add-to-cart-container{
    position: relative;  
    background: #D9D9D9; 
    border-radius: 25px;
    margin-bottom: 50px;
    min-width:  258px;
}

.add-cart-appends{
    display: inline-block;
    line-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.cart-button-appends{
    float: right;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 20px;
}

.opt-select-box{
position: relative; 
background: #D9D9D9; 
border-radius: 25px;
width: fit-content;
padding-left: 10px;
padding-right: 10px; 
padding-bottom: 5px;
padding-top: 5px; 
margin: 10px;
display: inline-block;
vertical-align: top;
}

.opt-select-box-right{
    position: relative; 
    background: #D9D9D9; 
    border-radius: 25px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 5px;
    padding-top: 5px; 
    margin: 10px;
    display: inline-block;
    float: right;
    }

.rounded-opt{
    width: 23px; 
    height: 23px; 
    position: relative;  
    border: 1px rgba(0, 0, 0, 0.50) solid;
    border-radius: 50%;
}

.texture-opt{
    width: 23px;
    height: 23px;
}
.selected{
    border: 2px solid black !important;
    width: 22px !important;
    height: 22px !important;
    
}

.button-rounded {
    width: fit-content;
    height: fit-content;
    border: none;
    padding: 0px;
    border-radius: 50%;
    vertical-align: top;
}

button:hover{
    cursor: pointer;
}

.button-texture {
    width: 23px;
    height: 23px;
    border: none;
    padding: 0px;
    margin: 2px 5px;
}

.num-doors{
    background: white;
    width: 23px; 
    height: 23px; 
    position: relative;  
    border: 1px rgba(0, 0, 0, 0.50) solid;
    border-radius: 50%;
    position: relative; 
    color: black; 
    font-size: 18px; 
    font-family: Karma; 
    font-weight: 500; 
    word-wrap: break-word; 
    display: inline-block;
}

.info-button{
    background: white;
    width: 23px; 
    height: 23px; 
    position: relative;  
    border: 1px rgba(0, 0, 0, 0.50) solid;
    border-radius: 50%;
    position: relative;
    font-size: 18px;
    line-height: 21px; 
    font-weight: 500; 
    word-wrap: break-word; 
    display: inline-block; 

  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 34
}


.other-products{
    width: 80%; 
    height: 615.48px; 
    position: relative; 
    margin-top: 40px;
    margin-left: 10%; 
    margin-right: 10%;
}

.append-title{
    margin-top: 200px;
    font-size: 30px;
}